<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ThreatDetector</title>
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script language='Javascript' type='text/javascript'>
            function formSubmit(form) {
                $.get(
                    '/form-response?formtext=' + form.formtext.value,
                    null,
                    function(data) {
                        $('#app-response').text(data);
                    }
                );
                return false;
            }
        </script>
    </head>
    <body>
      {% include 'includes/_navbar.html' %}
      <p><div class="container">
        <br><br><br><br><br>
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
      </div>
    </p>
    </body>
</html>
