* {
  box-sizing: border-box;
  margin: 0;
  padding: 10;
}

body {
  background: url(components/layout/backgroundimage1_reddots1.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

form {
  border: thin solid white;
  padding: 2rem;
  margin: 2rem;
}

.formtext {
  position: relative;
  top: -48px;
  background: white;
  padding: 7px;
  width: 57px;
  color: blue;
}
